<!DOCTYPE html>
<html lang="en">
<head>
  <title>Client Report</title>
</head>
<body>
    <h1>Enter Client Here to Generate a Client Report</h1>
    <form action="/generated-client-report">
        <input type="search" name="clientName" placeholder="Enter Client Name">
        <input type="submit" value="Generate Report">
    </form>
</body>
</html>